body { background-color: black;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.LSNGT {
    display: inline;
    margin-left:70px;
    color: white;
}

.STRIM{
    text-align: center;
    color: white;
}
